.block-multilevelpushmenu {
  z-index: 100;
  margin-bottom: 0;
}

.multilevelpushmenu_wrapper {
  display: none;
  top: 0;
}

.multilevelpushmenu_wrapper ul {
  position: relative;
  z-index: 100;
}

.multilevelpushmenu-link {
  display: none;
}

@media all and (max-width: 485px) {
  .multilevelpushmenu-link {
    display: block;
  }
}

@media all and (min-width: 321px) {
  .multilevelpushmenu-pushed {
    margin: 0 !important;
  }
}
@media all and (max-width: 320px) {
  .multilevelpushmenu-pushed {
    position: absolute;
    top: 0;
    left: 10%;
  }
}